
.titulo{
    color: yellowgreen;
    text-align: center;
}
.container{
    display: grid;
    text-align: center;
}

.fondo{
    background-image: url(./img/Charizard\ fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}
.pkd{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}
.nombre{
    text-align: center;
    width: 100%;
    background-color: magenta;

}
.centrar{
    display: flex;
    justify-content: space-around;
}
.nombreP{
    text-align: center;
    width: 100%;
    color: black;
}